{% extends "base.html" %}
{% load core_extras %}
{% block body %}
	<ul class="breadcrumb">
		<li><a href="{% url disk-list %}">Disks</a><span class="divider">/</span></li>
		<li class="active">Disk Details</a></li>
	</ul>

	<table class="table table-hover table-bordered table-condensed">
		<tbody>
			{% for key, value in disk.get_model_attrs %}	
		        <tr>
		        	<td>
		        		<strong>{{ key|replace_under_with:" "|capfirst }}</strong>
		        	</td>
		        	<td>
			       		{{ value }}
		        	</td>
		        </tr>
			{% endfor %}
			</tbody>	
	</table>

	<legend>Partitions</legend>
	{% for partition in disk.partition_set.all %}
		<ul>
			<li><a href="{{ partition.get_absolute_url }}">{{ partition.name }}</a></li>
		</ul>
	{% empty %}
		<strong>{{ disk.name}} has no partitions</strong>
	{% endfor %}
{% endblock body %}