{% extends "base_server_selection.html" %}
{% block right_pane %}
	<ul class="breadcrumb">
		<li class="active">Disks</li>
	</ul>
	{% if server_not_selected %}
		<div class="alert alert-info">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <strong>Server not selected.</strong>
		</div>
	{% endif %}
	<div class="row"> <!--Second lever row - span9-->
		{% if disks %}			
			<div class="span4">
				<ul class="nav nav-list well">
					<li class="nav-header">Local Disks</li>
					{% for disk in disks %}
					<li>
						<a href="{{ disk.get_absolute_url }}">{{ disk }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if multipath_disks %}
			<div class="span5">
				<ul class="nav nav-list well">
					<li class="nav-header">Multipath Disks</li>
					{% for multipath_disk in multipath_disks %}
					<li>
						<a href="{{ multipath_disk.get_absolute_url }}">{{ multipath_disk }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock right_pane %}


