{% extends "base.html" %}
{% load core_extras %}
{% block body %}
	<ul class="breadcrumb">
		<li><a href="{% url disk-list %}">Disks</a><span class="divider">/</span></li>
		<li class="active">Multipath Disk Details</li>
	</ul>

	<h2>Multipath Disk Details</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
			{% for key, value in multipath_disk.0.get_model_attrs %}
				<th>{{ key|replace_under_with:" "|capfirst }}</th>
			{% endfor %}	
			</tr>
		</thead>
	    <tbody>
	        <tr>
				{% for key, value in multipath_disk.0.get_model_attrs %}
		            <td>{{ value }}</td>
				{% endfor %}
	        </tr>
	    </tbody>
	</table>
	
	<h3>Path Information</h3>
	{% for path_group_state, paths in paths_info.items %}
		<span class="badge badge-info">Path group state: {{ path_group_state }}</span>
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
				{% for key, value in paths.0.get_model_attrs %}
					<th>{{ key|replace_under_with:" "|capfirst }}</th>
				{% endfor %}	
				</tr>
			</thead>
		    <tbody>
		    	{% for path in paths %}
		        <tr>
					{% for key, value in path.get_model_attrs %}
			            <td><span class="badge badge-info">{{ value }}</span></td>
					{% endfor %}
		        </tr>
		        {% endfor %}
		    </tbody>		
		</table>
	{% endfor %}
{% endblock body %}