{% extends "base.html" %}
{% block body %}
	<ul class="breadcrumb">
		<li class="active">Physical Volumes</li>
	</ul>

	<div class="row">
		{% if server_not_selected %}
		<div class="span12">
			<div class="alert alert-info">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  <strong>Server not selected.</strong>
			</div>
		</div>
		{% endif %}
		{% if pvs %}			
			<div class="span6">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
								<li class="nav-header">Physical Volumes</li>
								{% for pv in pvs %}
								<li>
									<a href="{{ pv.get_absolute_url }}">{{ pv }}</a>
								</li>
								{% endfor %}
						</ul>
					</div>
			</div>
		{% endif %}
	</div>
{% endblock body %}


