{% extends "base.html" %}
{{ wizard.form.media }}
{% load core_extras %}
{% load i18n %}

{% block body %}
	<legend>Attaching new server. Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</legend>
	<form action="" method="post">{% csrf_token %}
		{{ wizard.management_form }}
		{% if connection_failed|is_false %}
			<table>
			{% if wizard.form.forms %}
			    {{ wizard.form.management_form }}
			    {% for form in wizard.form.forms %}
			        {{ form }}
			    {% endfor %}
			{% else %}
			    {{ wizard.form }}
			{% endif %}
			</table>	
		{% else %}
			<div class="alert">
			  <strong>Warning! Connection failed.</strong> Please verify the agent network address and if agent is running.
			</div>	
		{% endif %}
		{% if wizard.steps.prev %}
		<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
		<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
		{% endif %}
		<a href='{% url server-list %}' class="btn">{% trans "cancel" %}</a>
		{% if connection_failed|is_false %}
			<input class="btn" type="submit" value="{% trans "confirm" %}"/>
		{% endif %}
	</form>
{% endblock body %}
