{% load core_extras %}
{% if not email_notifications %}
	<h4>e-mail notification is not set</h4>
	<button type="button" data-toggle="modal" data-target="#editor-dialog" onclick="$('#editor-dialog').load('{% url email-notification-create %}');">Create</button>

{% else %}
	{% for email_notification in email_notifications %}
		<table class="table table-striped table-condensed">
		    <tbody>
		    	{% for key, value in email_notification.get_model_attrs %}
		        <tr>
					<td><strong>{{ key|replace_under_with:" "|capfirst }}</strong></td>
			        <td>{{ value }}</td>
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
		<button class="btn btn-small" data-toggle="modal" data-target="#editor-dialog" onclick="$('#editor-dialog').load('{{ email_notification.get_update_url }}');">Modify</button>
		<button class="btn btn-small" data-toggle="modal" data-target="#editor-dialog" onclick="$('#editor-dialog').load('{{ email_notification.get_delete_url }}');">Delete</button>
		<button class="btn btn-primary" onclick="$('#send-test-email-response').load('{{ email_notification.get_send_test_email_url }}', function(e){$('#alert-banner').show()});">Send test e-mail</button>
		<br>
		<br>
		<div class="alert hide" id="alert-banner">
		 	<button type="button" class="close" data-dismiss="alert">×</button>
		 	<div id="send-test-email-response"></div>
		</div>
		
	{% endfor %}
{% endif %}